<!DOCTYPE html>
<html>

<head>
    <%- include('header'); -%>
    <title>상품권 최저가 그래프</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .chart-container {
            width: 100%;
            margin-left: 40px;
            margin-right: 40px;
        }
    </style>
</head>

<body>
    <%- include('nav'); -%>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-teal btn change-range" data-range="7">1주</a>
                    <a class="waves-effect waves-teal btn-flat change-range" data-range="30">1달</a>
                    <a class="waves-effect waves-teal btn-flat change-range" data-range="90">3달</a>
                </div>
            </div>
            <div class="row">
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript">
        var chart;
        var cfg;

        var displayDays = 7;
        var fillDays = 90;
        var fillCount = 360;
        var fillPeriod = (fillDays * 24 * 60 * 60) / fillCount;
        var now = Math.floor(Date.now() / 1000);

        $('.change-range').click(function (event, ) {
            console.log($(this).data());
            chart.config.options.scales.xAxes[0].time.min = (now - $(this).data().range * 24 * 60 * 60) * 1000;
            $('.change-range').removeClass('btn');
            $('.change-range').addClass('btn-flat');

            $(this).removeClass('btn-flat');
            $(this).addClass('btn');
            chart.update();
        });

        $.ajax({
            url: "/giftcard/lowprice",
            dataType: "json",
            crossDomain: true,
            data: <%- JSON.stringify(qs) %>
        }).done(function (response) {
            console.log(response);
            var auto_colors = ['rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)']
            var color = Chart.helpers.color;
            cfg = {
                type: 'bar',
                data: {
                    datasets: response.map(function (dataset, dataset_index) {
                        var lowprices = dataset.data.sort(function (a, b) {
                            if (a.t > b.t) {
                                return -1;
                            } else if (a.t < b.t) {
                                return 1;
                            } else {
                                return 0;
                            }
                        });

                        var values = lowprices.slice();

                        for (var i = 0; i < fillCount; i++) {
                            var y = 0;
                            var t = (now - fillPeriod * i) * 1000;
                            for (var j = 0; j < lowprices.length; j++) {
                                if (lowprices[j].t < t) {
                                    values.push({ t: t, y: lowprices[j].y });
                                    break;
                                }
                            }
                        }

                        values.push({ t: now * 1000, y: lowprices[0].y });

                        values = values.sort(function (a, b) {
                            if (a.t < b.t) {
                                return -1;
                            } else if (a.t > b.t) {
                                return 1;
                            } else {
                                return 0;
                            }
                        });

                        console.log({ product: dataset.product, values: values });
                        return {
                            label: dataset.product,
                            backgroundColor: color(auto_colors[dataset_index]).alpha(0.5).rgbString(),
                            borderColor: auto_colors[dataset_index],
                            data: values,
                            type: 'line',
                            steppedLine: 'before',
                            pointRadius: 0,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2,
                        };
                    })
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'linear',
                            ticks: {
                                source: 'auto',
                                autoSkip: true,
                            },
                            time: {
                                displayFormats: {
                                    millisecond: 'HH:mm:ss.SSS',
                                    second: 'HH:mm:ss',
                                    minute: 'HH:mm',
                                    hour: 'MM-DD HH:mm',
                                    day: 'MM/DD',
                                    week: 'YY/MM/DD',
                                    month: 'YY/MM',
                                    quarter: 'YY/[Q]Q',
                                    year: 'YYYY',
                                    datetime: 'YYYY-MM-DD HH:mm:ss',
                                },
                                min: (now - displayDays * 24 * 60 * 60) * 1000,
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: '최저가'
                            }
                        }]
                    },
                    legend: {
                        position: 'bottom',
                    },
                    tooltips: {
                        intersect: false,
                        mode: 'nearest',
                        callbacks: {
                            label: function (tooltipItem, myData) {
                                var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += parseFloat(tooltipItem.value).toFixed(2);
                                return label;
                            }
                        }
                    }
                }
            };
            chart = new Chart($('#myChart'), cfg);
        });
    </script>
</body>

</html>