<nav>
    <div class="container">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/front/giftcard" class="nav-item">상품권</a></li>
                <li><a href="/front/weight" class="nav-item">몸무게</a></li>
            </ul>
        </div>
        <span id="update-time" class="grey-text text-lighten-4 right"></span>
    </div>
</nav>